body {
  margin: 0;
  height: 100vh;
}
.cardGrid {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-column-gap: 3%;
  grid-row-gap: 20px;
}

.card {
  text-align: center;
  width: 100%;
  box-shadow: 0 0 5px #f50;
  border-radius: 20px;
}
.cardGird:nth-child(3n + 1) div {
  margin-left: 10px;
}

.img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
}

.card-title {
  font-size: 20px;
  padding-bottom: 20px;
}

.text-glow {
  color: #fc0;
  text-shadow: 0 0 10px #f50;
}

@media (max-width: 426px) {
  .cardGrid {
    grid-template-columns: 100%;
  }
}
