body {
  margin: 0;
  height: 100vh;
}

.card {
  text-align: center;
  margin-top: 20px;
  margin-left: 10%;
  width: 90%;
  box-shadow: 0 0 5px #fc0;
  border-radius: 20px;
}
.lantern-img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
}

.card-title {
  font-size: 20px;
  padding-bottom: 20px;
}

.text-glow {
  color: #fc0;
  text-shadow: 0 0 10px #fc0;
}
