@font-face {
  font-family: ekmukta;
  src: url(./fonts/EkMukta-Regular.ttf);
}

* {
  font-family: ekmukta;
}

body {
  margin: 0;
  background: #000;
  color: #fff;
}

.headingContainer {
  text-align: center;
  font-size: 25px;
  padding: 5px;
  color: #fc0;
  text-shadow: 0 0 10px #f50;
  height: 60px;
}

.heading {
  font-size: 40px;
}

.homeImg1 {
  border-top-left-radius: 25%;
  border-bottom-right-radius: 25%;
}
.homeImg2 {
  border-top-right-radius: 25%;
  border-bottom-left-radius: 25%;
}

table.content {
  margin: 0;
  padding: 0;
  background: #000;
}

table.content tr td {
  font-size: 25px;
  color: #ff0;
}
table.content tr td img {
  height: 60%;
  width: 100%;
}
@media (max-width: 426px) {
  .heading {
    font-size: 30px;
  }
  .headingContainer {
    font-size: 20px;
  }
  table.content tr td {
    font-size: 20px;
  }
}
.langSelectorContainer {
  text-align: right;
}
#langSelector {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: #fa0;
  border: none;
  margin: 10px;
  font-weight: bold;
}
